/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Light text and classes that "extend" it */

.text-light {
  font-size: 18px;
  color: #e5e7eb;
}

.text-light-heading,
.text-hero,
.text-header-logo {
  color: #f9faf8;
}

.text-hero {
  font-size: 48px;
  font-weight: 900;
}

.text-header-logo {
  font-size: 24px;
}

/* Dark text and classes that "extend" it */

.text-dark,
.text-information-heading,
.text-quote {
  font-size: 18px;
  color: #1f2937;
}

.text-information-heading {
  font-size: 36px;
  font-weight: 900;
}

.text-quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

/* misc */

.bg-dark {
  background-color: #1f2937;
}

.bg-quote {
  background-color: #e5e7eb;
}

.bg-image-placeholder {
  background-color: gray;
}

.button,
.bg-call-to-action {
  background-color: #3882f6;
}

.text-subtext {
  font-size: 18px;
  color: gray;
}
